<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
	<default>
		<wdph_customtabs_main>
			<general>
				<enabled>1</enabled>
				<remove_attrtab>0</remove_attrtab>
				<remove_desctab>0</remove_desctab>
				<remove_revtab>0</remove_revtab>
			</general>			
		</wdph_customtabs_main>
	</default>
</config>